<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    magic="table"
    class="table"
  >
    <button
      mat-raised-button
      color="primary"
      magic="button"
      class="button"
    >
      button
    </button>
    <button
      mat-raised-button
      color="primary"
      magic="next"
      class="next"
    >
      next
    </button>
    <button
      mat-raised-button
      color="primary"
      magic="prev"
      class="prev"
    >
      prev
    </button>
    <div class="example-container mat-elevation-z8">
      <mat-table
        #table
        [dataSource]="dataSource"
        magic="table"
        class="table"
      >
        <ng-container

          matColumnDef="a"
        >
          <mat-header-cell *matHeaderCellDef> a </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <label
              magic="a"
              [rowId]="row.rowId"
              class="a hidden_border"
            >
             {{getText('a', row.rowId)}}

            </label>
          </mat-cell>
        </ng-container>
        <ng-container

          matColumnDef="n"
        >
          <mat-header-cell *matHeaderCellDef> n </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <label
              magic="b"
              [rowId]="element.rowId"
              class="b hidden_border"
            >

             bbb

            </label>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     (page)="pageEvent = $event; onPaginateChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</form>
