/*this is a component css*/

.test {
    position: absolute;
}

.alabel {
    position: absolute;
    top: 8px;
    left: 4px;
    height: 9px;
    width: 9px;
}

.a {
    position: absolute;
    top: 8px;
    left: 50px;
    height: 12px;
    width: 29px;
}

.balabel {
    position: absolute;
    top: 28px;
    left: 4px;
    height: 9px;
    width: 9px;
}

.bb {
    position: absolute;
    top: 15px;
    left: 166px;
    height: 38px;
    width: 85px;
}